*{
    margin: 0;
    padding: 0;
}

.NavBody{
    background-color: #fff;
    margin-bottom: 25px;
}

.NavBG{
    background-color: #9b7862;
}

.NavItem{
    display: flex;
}

.NavName{
    margin-left: 120px;
}

.Icons{
    width: 800px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}